.togglebuttonright {
	-fx-background-image: url("/fr/cloud4you/pa1007/compta_help/images/right.png");
	-fx-background-size: 313px 204px;
    -fx-background-position: center 1px;
    -fx-background-color : #CCCC


}
.togglebuttonleft {
	-fx-background-image: url("/fr/cloud4you/pa1007/compta_help/images/left.png");
	-fx-background-size: 313px 204px;
    -fx-background-position: center 1px;
    -fx-background-color : #CCCC
}